body {
    font-family: sans-serif;
}
header {
    border: 4px solid blue;
   border-radius: 10px; 
   padding: 7px;
   
    
}
header img {
    margin-top: 5px;
    
}
.imgup {
    background-color: darkblue;
    border: 2px solid darkblue;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 3px;
    margin: 10px;
    font-family: sans-serif;
    
}
.azar {
    color: darkblue;
}
.dunno {
    border: 5px solid rgb(123, 44, 226);
    border-radius:25px ;
    text-align:center ;
    font-family:Arial Narrow;
    color: orange;
}
footer p {
    background-color: rgb(63, 230, 63);
    padding: 10px ;
    
}
.hack {
    padding-left: 30px;
}
nav {
    background-color: rgb(79, 104, 216);
    padding: 10px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
}
.navig {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: 65px;

}
.waky {
    border: 4px solid blue;
    padding: 10px;
    border-radius: 15px;
}
.buton {
    border: 4px solid blueviolet;
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}
